<section class="section">
    <div class="container">
        <h1 class="section__heading">Popular products</h1>

        <ul class="grid">
            {{!-- <li class="grid__item">
                <article class="product">
                    <img class="product__image"
                        src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-2_large.png?format=webp&v=1530129318"
                        alt="Кроссовки" />
                    <h2 class="product__name">Boots</h2>
                    <p class="product__price">Price: 200 credits</p>
                    <button type="button" class="button product__button" aria-label="Add to cart">
                        <svg class="button__icon" width="20" height="20">
                            <use href="#cart"></use>
                        </svg>
                    </button>
                </article>
            </li> --}}
        </ul>
    </div>
</section>